.app {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.app-logo {
  width: 100%;
  max-width: 250px;
  pointer-events: none;
}

.app-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #282c34;
  margin: 30px 0;
}


.list-wrapper {
  width: 100%;
  height: min(100% - 5rem);
}